/************************************************************************************************
    HOME LAYOUT
*************************************************************************************************/
.common-home{
	.so-spotlight2{ margin-top: 30px; }
	.module{ margin-bottom: 30px; }
	#content {
	    margin-bottom: 30px;
	}
	.best-seller{ margin-top: 30px;}
	.header-bottom{ margin-bottom: 30px;}
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1,
.best-seller .so-extraslider .extraslider-inner,
.products-list.list-masonry .product-layout .product-item-container, .products-list.grid .product-layout .product-item-container{ border-color: #ddd;}

