/*  +----------------------------------------------------+
        TABLE OF CONTENTS
    +----------------------------------------------------+

    [1]     BLOCK LAYOUT HOME

*/

/*[1]     BLOCK LAYOUT HOME*/

.common-home{
	.so-spotlight2{ margin-top: 38px; }
	.banner-sn-1{ margin-top: 40px; }
	.module{ margin-bottom: 40px; }
	#content {
	    margin-bottom: 40px;
	}
}

//--- BLOCK SPOTLIGHT -------------------
#yt_header_right{
    .first-block{margin-bottom: 15px}
    .two-block{padding: 0;}
    .three-block{padding-#{$right}: 0; padding-#{$left}: 10px;}
    .four-block{padding: 0;}
}
#yt_header_right{
	@media (min-width: 1200px) {
		padding-#{$left}: 10px; 
	}
}
.common-home .header-bottom{ margin-bottom: 25px; }

#collections_block{
    h3.modtitle{display: block; padding-top: 0; margin-bottom: 20px;}
     ul{@extend ul.blank; margin: 5px -5px; display: table; 
	   li{padding:0 5px ;font-size: 14px;color: #666666; text-align: center; width: 200px;text-transform: uppercase;display:table-cell;
		  .color_co{background-color: #EEEEEE;background-position: center;overflow: hidden;border-color: white;border: 1px solid white;
			 a{float: left; font-weight: bold;width: 100%; height: 126px;text-decoration: none; line-height: 22px;padding: 10px; color: #999; border-bottom: 3px solid $linkColor;
			 background-position: center center;background-repeat: no-repeat;}
			 &:hover{border-color: $linkColor; background: transparent;}
		  }
		  &.collection_0 a {background-image: url('#{$base-url-theme}/icons/collections-1-1.png'); }
		  &.collection_1 a {background-image: url('#{$base-url-theme}/icons/collections-2-1.png'); }
		  &.collection_2 a {background-image: url('#{$base-url-theme}/icons/collections-3-1.png'); }
		  &.collection_3 a {background-image: url('#{$base-url-theme}/icons/collections-4-1.png'); }
		  &.collection_4 a {background-image: url('#{$base-url-theme}/icons/collections-5-1.png'); }
		  &.collection_5 a {background-image: url('#{$base-url-theme}/icons/collections-6-1.png');}
	   }
    } 
}

@include breakpoint(lg){
    .left_column .so-vertical-menu .vertical-wrapper{position: static;}
}
