.f-s-10 { font-size:10px;}
.f-s-11 { font-size:11px;}
.f-s-12 { font-size:12px;}
.f-s-13 { font-size:13px;}
.f-s-14 { font-size:14px;}
.f-s-15 { font-size:15px;}
.f-s-16 { font-size:16px;}
.f-s-17 { font-size:17px;}
.f-s-18 { font-size:18px;}
.f-s-19 { font-size:19px;}
.f-s-20 { font-size:20px;}
.f-s-21 { font-size:21px;}
.f-s-22 { font-size:22px;}
.f-s-23 { font-size:23px;}
.f-s-24 { font-size:24px;}
.f-s-25 { font-size:25px;}
.f-s-26 { font-size:26px;}
.f-s-27 { font-size:27px;}
.f-s-28 { font-size:28px;}
.f-s-29 { font-size:29px;}
.f-s-30 { font-size:30px;}
.f-s-31 { font-size:31px;}
.f-s-32 { font-size:32px;}
.f-s-33 { font-size:33px;}
.f-s-34 { font-size:34px;}
.f-s-35 { font-size:35px;}
.f-s-36 { font-size:36px;}
.f-s-37 { font-size:37px;}
.f-s-38 { font-size:38px;}
.f-s-39 { font-size:39px;}
.f-s-40 { font-size:40px;}
.f-s-41 { font-size:41px;}
.f-s-42 { font-size:42px;}
.f-s-43 { font-size:43px;}
.f-s-44 { font-size:44px;}
.f-s-45 { font-size:45px;}
.f-s-46 { font-size:46px;}
.f-s-47 { font-size:47px;}
.f-s-48 { font-size:48px;}
.f-s-49 { font-size:49px;}
.f-s-50 { font-size:50px;}
.f-s-51 { font-size:51px;}
.f-s-52 { font-size:52px;}
.f-s-53 { font-size:53px;}
.f-s-54 { font-size:54px;}
.f-s-55 { font-size:55px;}
.f-s-56 { font-size:56px;}
.f-s-57 { font-size:57px;}
.f-s-58 { font-size:58px;}
.f-s-59 { font-size:59px;}
.f-s-60 { font-size:60px;}
.f-s-61 { font-size:61px;}
.f-s-62 { font-size:62px;}
.f-s-63 { font-size:63px;}
.f-s-64 { font-size:64px;}
.f-s-65 { font-size:65px;}
.f-s-66 { font-size:66px;}
.f-s-67 { font-size:67px;}
.f-s-68 { font-size:68px;}
.f-s-69 { font-size:69px;}
.f-s-70 { font-size:70px;}
.f-s-71 { font-size:71px;}
.f-s-72 { font-size:72px;}
.f-s-73 { font-size:73px;}
.f-s-74 { font-size:74px;}
.f-s-75 { font-size:75px;}
.f-s-76 { font-size:76px;}
.f-s-77 { font-size:77px;}
.f-s-78 { font-size:78px;}
.f-s-79 { font-size:79px;}
.f-s-80 { font-size:80px;}
.f-s-81 { font-size:81px;}
.f-s-82 { font-size:82px;}
.f-s-83 { font-size:83px;}
.f-s-84 { font-size:84px;}
.f-s-85 { font-size:85px;}
.f-s-86 { font-size:86px;}
.f-s-87 { font-size:87px;}
.f-s-88 { font-size:88px;}
.f-s-89 { font-size:89px;}
.f-s-90 { font-size:90px;}
.f-s-91 { font-size:91px;}
.f-s-92 { font-size:92px;}
.f-s-93 { font-size:93px;}
.f-s-94 { font-size:94px;}
.f-s-95 { font-size:95px;}
.f-s-96 { font-size:96px;}
.f-s-97 { font-size:97px;}
.f-s-98 { font-size:98px;}
.f-s-99 { font-size:99px;}
.f-s-100 { font-size:100px;}