@include breakpoint(xxs){
 	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*[] HEADER DEFFAULT []*/
    header{
        #sosearchpro.search-pro .autosearch-input{ border: none; }
        #sosearchpro.search-pro .select_category{ display: none; }
        .btn-shopping-cart .tab-content{ min-width: 280px; }
        .btn-shopping-cart .dropdown-menu { min-width: 290px;}
        #sosearchpro.search-pro .input-group .autosearch-input{ padding: side-values(0 0 0 10px); }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:1px solid #ddd; }
        }
        .collapsed-block .tabBlock .top-link > li.account .dropdown-menu{ #{$right}: 0; #{$left}: auto; }
        
    } 

    /*[] HEADER 1 []*/
    header.type_1{
        .block-cart{ padding: 0 10px; }
        .shopping_cart{ background: transparent; padding: 0}
        .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi{ display: block!important; color: #fff; font-size:  18px; }
        .header-bottom .container .header-bottom-inner .header_search{ padding-#{$left}: 8px; }
        .shopping_cart .dropdown-menu{ #{$right}: -10px; #{$left}: auto;; }
        #sosearchpro.search-pro .autosearch-input{ border: none; }

    }
    /*[] HEADER 2 []*/
    header.type_2{
        .header-center .header_search{ float: none; width: 100%; }
        .header-center .navbar-logo{ text-align: center; width: 100%; margin-top: 20px;}
        .header-center { padding: 25px 0 0px; }
        #sosearchpro.so-search .autosearch-input{ border: none; }
    }
    
    /*[] HEADER 3 []*/
    header.type_3{ 
        .header-center .header_search{ float: none; width: 100%; }
        .header-center .navbar-logo{ text-align: center; width: 100%; margin-top: 20px;}
        .header-center { padding: 25px 0 0px; }
        #sosearchpro.so-search .autosearch-input{ border: none; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.language{border-#{$right}:1px solid #ddd;}
        }
    }

    /*[] HEADER 4 []*/
    header.type_4{
        .header-center .header_search{ float: none; width: 100%; margin-bottom: 25px }
        .header-center .navbar-logo{ text-align: center; width: 100%; margin-bottom: 10px; }
        .header-center { padding: 25px 0 0px; }
        #sosearchpro.so-search .autosearch-input{ border: none; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.language{border-#{$right}:1px solid #ddd;}
        }
    }

    /*[] HEADER 5 []*/
    header.type_5{
        .header-bottom .header-bottom-inner{ margin-top: 0;padding: 5px; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.language{border-#{$right}:1px solid #ddd;}
        }

    }
    /*[] HEADER 6 []*/
    header.type_6{
        .header-bottom .header-bottom-inner{ margin-top: 0;padding: 5px; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.language{ border-#{$right}:none; }
            &.currency{border-#{$right}:1px solid #ddd;}
        }

        .shopping_cart{  height: 36px; line-height: 36px; padding-#{$left}: 15px;  padding-#{$right}: 0px; }
        .block-cart{ padding-#{$left}: 15px; }
        .header-bottom .container .header-bottom-inner .header_search{ margin-top: 2px; }
    }
    /*[] HEADER 7 []*/
    header.type_7{
        #sosearchpro.search-pro .autosearch-input{ border: none; }
        #sosearchpro.search-pro .select_category{ display: none; }
        .phone-contact{ display: none!important; }
        .header-center-right{ text-align: center; }
        .block-cart{ float: none; margin: 0; display: inline-block; }
        .header-center{ padding-bottom: 20px; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.languages-block{border-#{$right}:1px solid #ddd;}
        }
        .shopping_cart .dropdown-menu{ #{$right}: -65px;; }
    }

    /*[] HEADER 8 []*/
    header.type_8{
        .header-bottom .header-bottom-inner{ margin-top: 0;padding: 5px; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.languages-block{border-#{$right}:1px solid #ddd;}
        }
    }

    /*[] HEADER 9 []*/
    header.type_9{
        .header-bottom .header-bottom-inner{ margin-top: 0;padding: 0; }
        .collapsed-block .tabBlock .top-link > li{ width: 50%!important; 
            &.account, &.wishlist{ border-bottom: 1px solid #ddd; }
            &.currency{ border-#{$right}:none; }
            &.languages-block{border-#{$right}:1px solid #ddd;}
        }
    }

    /*[] HEADER 10 []*/
    header.type_10{
        #sosearchpro.search-pro .select_category{ width: 120px; }
    }
    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    

    /*[] LAYOUT 1 []*/
    .layout-home1{
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{
            padding: 0;
            > li{  display: block; padding: 6px 10px; line-height: 20px; width: 100%; border-bottom: 1px solid #ddd; }
        }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span{ font-weight: bold!important; font-size: 12px!important; padding: 0!important; }
        .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item{ width: 100%!important }
        #sosearchpro .dropdown-menu { width: 233px !important; }
        #sosearchpro .dropdown-menu .media-left,
        #sosearchpro .dropdown-menu .media-body{ padding: 0;}
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected,
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow{ border-radius: 0; }
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs li{ border-bottom: 1px solid #ddd; width: 100%; padding: 5px 20px; display: block;  }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span{ padding: 0 15px;  font-size: 12px !important;  text-transform: uppercase!important; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{ text-transform: uppercase; font-size: 12px; }

    }
    /*[] LAYOUT 2 []*/
    .layout-home2{
        .module.sohomepage-slider .so-homeslider .owl2-nav{ display: none!important; }
        .static-home-2 {
            .col-s{ width: 100%; display: block;
                a:first-child{margin:20px 0 0 ;}
            }
        }
        .module.sohomepage-slider{ margin-bottom: 10px; }
        .cus-style-supper-cate{
            .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow,
            .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{
                border-radius: 0;
                border: 1px solid #ddd;  
            }
        }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{ text-transform: uppercase; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span{font-weight: bold; padding: 0;font-size: 12px!important; text-transform: uppercase;}
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{
            padding: 0;
            > li{  display: block; padding: 6px 20px;   line-height: 20px; width: 100%; border-bottom: 1px solid #ddd; }
        }
        .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item{ width: 100%!important }
    }

    /*[] LAYOUT 4 []*/
    .layout-home4{
        .module.sohomepage-slider .so-homeslider .owl2-nav{ display: none!important; }
        .static-home-2 {
            .col-s{ width: 100%; display: block;
                a:first-child{margin:20px 0 0 ;}
            }
        }
        .module.sohomepage-slider{ margin-bottom: 10px; }
        .cus-style-supper-cate{
            .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow,
            .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{
                border-radius: 0;
                border: 1px solid #ddd;  
            }
        }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{ text-transform: uppercase; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span{font-weight: bold; padding: 0;font-size: 12px!important; text-transform: uppercase;}
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{
            padding: 0;
            > li{  display: block; padding: 6px 20px;   line-height: 20px; width: 100%; border-bottom: 1px solid #ddd; }
        }
        .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item{ width: 100%!important }
    }

    /*[] LAYOUT 6 []*/
    .layout-home6{
        &.common-home .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle{ margin: 0!important; }
    }

    /*[] LAYOUT 7 []*/
    .layout-home7{
        .testimonial{ margin-bottom: 30px; }
    }

    /*[] LAYOUT 8 []*/
    .layout-home8{
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li span,
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span, .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs .ltabs-tab:hover span {
            color: #333; font-weight: normal; font-size: 12px; padding: 0; text-transform: uppercase;
        }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow,
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{ border-radius: 0; }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{ text-transform: uppercase; font-weight: bold; color: #444; }
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li{ padding: 5px 20px; border-bottom: 1px solid #ddd;
            &:before,
            &:after{ display: none; }
        }
    }

    /*[] LAYOUT 9 []*/
    .layout-home9{
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li span,
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel span, .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs .ltabs-tab:hover span {
            color: #333;
            font-weight: normal;
            font-size: 12px;
            padding: 0;
            text-transform: uppercase;
           
        }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow,
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{ border-radius: 0; }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{ text-transform: uppercase; font-weight: bold; color: #444; }
        .module.custom-listingtab .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li{ text-align: $left; padding: 5px 20px; border-bottom: 1px solid #ddd; width: 100%;
            &:before,
            &:after{ display: none; }
        }
        .module.custom-lt2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li{
            width: 100%!important;
            padding: 5px 20px;
            text-align: $left;
        }
        .module.custom-lt2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li.ltabs-tab > span {
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    /*[] LAYOUT 10 []*/
    .layout-home10{
        .item-ser{ 
            width: 100%;
            margin-bottom: 20px;
            &:last-child{ margin: 0; }         
        }
        .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item{ width: 100%!important; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected,
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow{ border-radius: 0; }
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs li{ border-bottom: 1px solid #ddd; width: 100%; padding: 5px 20px; display: block;  }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox .spcat-tab span{ padding: 0;  font-size: 12px !important;  text-transform: uppercase!important; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-selected{ text-transform: uppercase; font-size: 12px; }
        .so-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox{ display: block; }
        .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{ padding: 0; }
        .item-bt{ margin-bottom: 30px; }
    }
    /************************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFFAULT []*/
    footer{ 
       .social_block ul{ padding: 0; }
       .news-letter .page-heading{ font-size: 14px; }
       .news-letter .block_content .subcribe{ position: absolute; #{$right}: 0; }
       .box-footer{ width: 100%!important; }
    }

    /*[] FOOTER DEFFAULT []*/
    footer.typefooter-3{ 
         .footer-navbar .footer-center .box-1{ width: 100%!important; float: none; &:before{ display: none; }}

    }

    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .thumb-vertical-outer { padding: 20px 0;}
    .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none; }
    .deals_module_wrapper .title-product{ margin-top: 20px; }
    .producttab .tabsslider .nav-tabs li{ float: none; }
    .product-view .content-product-right{ margin-top: 20px; }
    .filters-panel.product-filter-bottom{
        .box-pagination{ text-align: center; }
    }

    /************************************************************************************************
        PAGE BONUSS  
    ************************************************************************************************ */
    .our-member .respl-item .w-image-box,
    .welcome-about-us .image-about-us{ width: 100%; float: none; margin: 0; text-align: center;}
    .our-member .respl-item .info-member,
    .welcome-about-us .des-about-us{ margin: 20px 0; text-align: justify; }
    .happy-about-us .happy-ab .title-happy-about h2{ font-size: 16px; }
    #sosearchpro .dropdown-menu {  width: 292px!important; }

    
}