.type_6{
    .header-top{height: 36px; background-color:#ddd; border-bottom: 1px solid #ddd;
    .header-top-left{overflow: hidden; height: 36px;
        .welcome-msg {margin-top: 5px; height: 24px; overflow: hidden; 
            .label-msg {margin: 0;display: inline-block;position: relative;color: #fff; 
                background: #e67e22; padding: 0 10px;border-radius: 2px; line-height: 20px;  
            }
            a {display: inline-block;margin: 0;padding: 0 6px; color: $textBody;}
            .list-msg .label-msg, .list-msg a{ font-size: 12px;} 
        }
    }
    .header-top-right{text-align:$right;}
    
    }
    .header-center{padding: 24px 0 20px; background: #eee;
        .navbar-logo{
            @media (min-width: 1200px) {
                position: relative; top: -5px;
            }
        }
        &.center{
            .header-center-right{margin-top: 16px; }
        }
        &.left{
            .header-center-right{text-align: $right; float: $right; margin-top: 4px; }
        }
    }
    .header-bottom{background: #eee; height: 45px; margin-bottom: 0;
        .container{
            .header-bottom-inner{display: inline-block; background: #222; width: 100%;
                .header-bottom-left{ padding-#{$right}: 20px;}
                .header-bottom-right{padding-#{$left}: 10px;}
                .header_search{padding: 0; margin-top: 7px;
                    @media (min-width: 1200px) {
                        width: 70%;
                    }
                }
                .header_custom_link{float: $right;  padding-#{$right}: 15px;
                        ul li a{line-height: 45px;color: #fff;text-transform: uppercase;padding:side-values(0 18px 0 0); font-weight: bold;
                            i{font-size: 15px; margin-#{$right}: 5px;}
                            &:hover{color: $linkColor;}
                        }
                }
            }
        }
    }
    &.navbar-compact{
        .header-top{display: none;}
        .header-bottom{display: none;}
        .header-center{padding: 15px 0 5px;}
    }
    #main-content,#content{margin-bottom: 30px;}
    .header-top-right {display: inline-block;
        ul.top-link{list-style: none;margin:0; vertical-align:top;
            > li{padding: 0; display: inline-block; position: relative; list-style: outside none none; border-#{$left}: 1px solid #ddd;
             >  a {display: block; padding: 0 13px; position: relative; height: 36px; line-height: 36px; color: $textBody; font-size: 12px;
                    &:before{font-family: 'FontAwesome'; margin-right: 7px;}
                    span.fa-angle-down{position: relative; left: 5px;}
                }
                a.btn{
                    display: block; padding: 0 13px; position: relative; height: 36px; line-height: 36px; color: $textBody; font-size: 12px;
                    &:hover{
                        color: $linkColor;
                    }
                }
                &.account > a:before{content: "\f007";} 
                &.wishlist{
                    a:before{content: "\f004"; }
                }
                &.checkout{
                    a:before{content: "\f045";}
                }

                &:hover{
                    > a{color: $linkColor;}
                }
                &.currencies-block .dropdown-menu{ #{$right}: 0; #{$left}: auto; }
                ul.dropdown-link{position: absolute; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);  opacity: 0; padding: 0px 10px; 
                    top: 33px;  transition:top 0.3s ease 0s, opacity 0.3s ease 0s; width: 200px; z-index: -1; text-align: $left; #{$left}: 0;
                    li{display: block; border-#{$left}: 0;
                    a{display: block; padding: 5px 0 4px; border-bottom: solid 1px #efefef; font-size: 11px; line-height: 18px; color: $textBody;border-#{$right}: 0;

                        &:hover{color: $linkColor;}
                        &:after{display: none;}
                    }
                    
                    &:last-child a{border-bottom: 0;}
                    }
                }
                &.account:hover  {
                    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
                }
            }
        }
    }
    /*HEADER SEARCH*/
    #sosearchpro.search-pro{ margin: 0; width: 100%; padding: 0;
        .search { border: 1px solid #ddd; background: #fff;  }
        .select_category { width: 120px; border: 0; cursor: pointer; cursor: pointer;
            select{ height: 30px; line-height: 28px; padding-#{$right}: 26px; 
               
            }
            &:after {  top: 0px; content: "\f0d7"; background: transparent; font-family: FontAwesome; position: absolute;height: 100%;text-align: center;
                line-height: 30px; width: 20px; color: #444; #{$right}: 10px;  #{$left}: auto;  
            }
        }
        .autosearch-input { border: 0; height: 30px; background: #fff; border-#{$left}: 1px solid #ddd; }
        .button-search { background: transparent; border: 0; font-size: 16px; height: 30px; padding: 0 8px; border-radius: 0;
           i {  color: $background; font-size: 16px; }
           &:hover i{ color: darken($background,10%)}
        }       
    }
    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        &:before { content: ""; height: 100%; width: 1px; background: #555; position: absolute; #{$left}: 1px; }
        &:after { content: ""; height: 100%; width: 1px; background: #333; position: absolute; #{$left}: 0; }

    }
    .shopping_cart{background: url("#{$base-url-theme}icons/icon_minicart.png")   no-repeat; background-position: $left 12px; 
        height: 45px; line-height: 45px;padding-#{$left}: 30px; padding-#{$right}: 15px;
        h2{display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block;font-size: 13px; font-weight: bold; text-transform: uppercase;cursor: pointer;width: auto; padding: 0;
            a.top_cart{padding-right: 20px; color: #fff;
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{padding: 0px; color: #fff;font-size: 12px; text-transform: uppercase; font-weight: bold; float: left;margin: 0;}
                &:after{content: "\f107"; font-family: fontawesome;font-size: 15px;position: absolute; right: 0;top: 0;}
                &:hover{
                    color: $linkColor;
                    .shopcart .text-shopping-cart{color: $linkColor;}
                }
            } 
            .total-shopping-cart{ display: none; }                    
        } 
        .dropdown-menu{top: 40px; #{$right}: 0; #{$left}: auto;}
        .shoppingcart-box:before{right: 50px;}
    }
    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
        .horizontal{
            ul.megamenu > li.active > a, ul.megamenu > li.home > a, ul.megamenu > li:hover > a{
                background: #222; color: #fff; border-radius: 3px;
            }
            ul.megamenu > li > a{
                color: #222; font-size: 13px; height: auto; padding: 0 15px; line-height: 28px;
                text-transform: uppercase; text-shadow: none;  font-weight: bold;
                strong{ font-weight: bold; }
            }
        }
    }
    #sosearchpro {
        .select_category {
            position: relative;
            display: table-cell;
            vertical-align: top;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            background: white;
            select{ 
                width: 100%;
                padding: 0 15px;
                border: none;
                float: $left;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }
}
