.type_5{
    .header-top{height: 36px; background-color: $background;
    .header-top-left{overflow: hidden; height: 36px;
        .welcome-msg {margin-top: 5px; height: 24px; overflow: hidden; 
            .label-msg {margin: 0;display: inline-block;position: relative;color: #fff; 
                background: lighten($background, 10%); padding: 0 10px;border-radius: 2px; line-height: 20px;  
            }
            a {display: inline-block;margin: 0; padding: 0 6px; color: #fff;}
            .list-msg .label-msg, .list-msg a{ font-size: 12px;} 
        }
    }
    .header-top-right{text-align:$right;}
    
    }
    .header-center{padding: 20px 0 44px; background: #eee;
        @include breakpoint(lg){
            .navbar-logo{ position: relative; top: -1px; }
        }
        .phone-contact{ margin-top: 6px; background: url("#{$base-url-theme}icons/hot-line-icon.png")  no-repeat $left top; 
            float: $right; text-align: $left; padding-#{$left}: 48px;
            h2{ font-weight: bold; margin-bottom: 2px;font-size: 100%;color: #444; margin: 0; text-transform: uppercase;}
            p{ margin: 0; }
        }
    }
    .header-bottom{
        margin-bottom: 0;
        background: transparent;
        min-height: auto;
        .header-bottom-inner {
            display: inline-block;
            background: #444;
            border-radius: 5px;
            margin-top: -23px;
            .header-bottom-menu{ padding: 0; }
        }
    }
    &.navbar-compact{
        .header-top{display: none;}
        .header-bottom{display: none;}
        .header-center{padding: 10px 0;
            .navbar-logo{ top: 2px; }
        }
    }
    #main-content,#content{margin-bottom: 30px;}
    .header-top-right {display: inline-block;
        ul.top-link{list-style: none;margin:0; 
            > li{padding: 0; display: inline-block; position: relative; vertical-align:top; list-style: outside none none;
                &.currencies-block{
                    .dropdown-menu{ #{$right}:0; #{$left}: auto; }
                }
             >  a {display: block; padding: 0 13px; position: relative; height: 36px; line-height: 36px; color: #fff; font-size: 12px;
                    &:before{font-family: 'FontAwesome'; margin-#{$right}: 7px; float: $left;}
                        span.fa-angle-down{position: relative; #{$left}: 5px;}
                }
                a.btn{
                    display: block; padding: 0 13px; position: relative; height: 36px; line-height: 36px; color: #fff; font-size: 12px;
                    &:hover{
                        color: #fff;
                    }
                }
                &.account > a:before{content: "\f007";} 
                &.wishlist{
                    a:before{content: "\f004"; }
                }
                &.checkout{
                    a:before{content: "\f045";}
                }

                &:hover{
                    > a{color: #fff;}
                
                }
                ul.dropdown-link{position: absolute; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);  opacity: 0; padding: 0px 10px; 
                    top: 33px;  transition:top 0.3s ease 0s, opacity 0.3s ease 0s; width: 200px; z-index: -1; text-align: $left; #{$left}: 0;
                    li{display: block; border-#{$left}: 0;
                    a{display: block; padding: 5px 0 4px; border-bottom: solid 1px #efefef; font-size: 11px; line-height: 18px; color: $textBody;border-#{$right}: 0;
                        &:hover{color: #fff;}
                        &:after{display: none;}
                    }
                    
                    &:last-child a{border-bottom: 0;}
                    }
                }
                &.account:hover  {
                    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
                }
            }
        }
    }
    /*HEADER SEARCH*/
    #sosearchpro.search-pro{ margin: 8px 0 0; width: 100%; padding: 0;
        .search { border: 1px solid #ddd; background: #fff;  }
        .select_category { 
            width: 120px; 
            border: 0;
            position: relative;
            display: table-cell;
            vertical-align: top;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            background: white;
            select{ height: 30px; line-height: 28px; 
                width: 100%;
                padding:side-values(0 15px 0 26px);
                border: none;
                float: $left;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            &:after {  
                top: 0px;
                content: "\f0d7";
                background: transparent;
                font-family: FontAwesome;
                position: absolute;
                height: 100%;
                text-align: center;
                line-height: 30px;
                width: 20px;
                color: #444;
                #{$right}: 10px;
                #{$left}: auto;
            }
        }
        .autosearch-input { border: 0; height: 32px; background: #fff; box-shadow: none; border-#{$left}: 1px solid #ddd; }
        .button-search { background: transparent; border: 0; font-size: 16px; height: 30px; padding: 0 8px; border-radius: 0;
           i {  color: $background; font-size: 16px; }
           &:hover i{ color: darken($background,10%)}
        }       
    }

    .block-cart{
        float: $right;
        height: 40px;
        background: url("#{$base-url-theme}icons/icon-cart-header-5.png") no-repeat;
        background-position: $left center;
        margin-top: 0;
        line-height: 21px;
        padding-#{$left}: 45px;
        margin-#{$right}: 19px;
    }
    .shopping_cart{     
        float: $left !important;
        position: relative;
        top: 4px;
        border-#{$right}: 1px solid #ccc;
        padding-#{$right}: 20px;
        .text-shopping-cart{ display: none; }
        .text-shopping-cart-home5{ display: block!important; }
        h2{display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .shopcart{ position: relative; }
        .btn-shopping-cart{
            cursor: pointer;
            a.top_cart{color: #fff;
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart-home5{ 
                    padding: 0px; 
                    color: #444;
                    font-size: 12px; 
                    text-transform: uppercase; 
                    font-weight: bold; 
                    float: $left; 
                    margin: 0;
                }
            } 
            .total-shopping-cart{ 
                padding: 0px;
                color: #666;
                font-size: 12px;
                font-weight: normal;
                text-transform: lowercase;
                margin: 0;
                display: block;
                line-height: 100%;
                clear: both;
            }                    
        } 
        .dropdown-menu{top: 40px; #{$right}: 0; #{$left}: auto;}
        .shoppingcart-box:before{right: 50px;}
    }
    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
        .horizontal{
            @include if-rtl {
                ul.megamenu > li:first-child > a{ border-radius: 0px 5px 5px 0px; }
            }
            ul.megamenu > li:first-child > a{ border-radius: 5px 0px 0px 5px; }
            ul.megamenu > li.active > a, ul.megamenu > li.home > a, ul.megamenu > li:hover > a{ background: #474e58; }
            ul.megamenu > li > a{
                color: #fff; font-size: 13px; height: auto; padding: 11px 15px; line-height: 28px;
                text-transform: uppercase; text-shadow: none;  font-weight: bold; @include transition(all .1s ease 0s);
                strong{ font-weight: bold;                 }
            }
            ul.megamenu > li {  margin: 0;}
        }
    }
}

