/************************************************************************************************
    HOME LAYOUT
*************************************************************************************************/
.common-home{
	#content { margin-bottom: 30px;	}
	.static-home-2{ margin-top: 30px; }
	.so-spotlight2{ margin-top: 23px; }
	.module{ margin-bottom: 30px; }
	.header-bottom{ margin-bottom: 30px;}
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1,
.best-seller .so-extraslider .extraslider-inner,
.products-list.list-masonry .product-layout .product-item-container, .products-list.grid .product-layout .product-item-container{ border-color: #ddd;}

